* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

html {
    font-size: 14px;
}

/* Message */
.message-container {
    display: grid;
    grid-template-columns: 4rem minmax(15rem, 25rem) 2rem;

    border: 1px solid black;
}
.message-avatar {
    display: flex;
    justify-content: center;

    border: 1px solid #7fa;
}
.message-body {
    display: grid;
    grid-template-rows: minmax(2rem, auto) minmax(2rem, auto);

    background-color: #ababab;

    padding: .5rem;
    border-radius: .5rem;

    border: 1px solid #7aa;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-forward {
    display: flex;
    justify-content: center;

    border: 1px solid #af2;
}

.message {
    margin-top: .5rem;
}

.circle {
    position: relative;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    background-position: center;
    background-size: 90%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-image: url(img/avatar.jpg);
}

.circle::after {
    position: absolute;
    top: .25rem;
    right: 0;
    
    content: '';

    width: .5rem;
    height: .5rem;

    border-radius: 50%;
    background-color: #af2;
}

.square {
    width: 1rem;
    height: 1rem;

    background-color: royalblue;
}

.iconify:hover {
    color: rebeccapurple;
    transition: .5s;
}